# Python
__pycache__/

.mypy_cac
# 

# Virtual Environment
.venv/

# Editor/IDE.
.vscode/

# Project Data
data/
logs/


dist/

build/

*.spec

*.log

boot_log.txt

error_log.txt

memo.txtrror_log.txt

memo.txt