# Python
__pycache__/

.mypy_cache/
# Virtual Environment
.venv/

# Editor/IDE.
.vscode/

# Project Data (Dynamic/Private)
data/

clean_and_build.py

dist/

build/

*.spec

*.log

boot_log.txt

error_log.txt